body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #fff;
    min-width: 320px;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1145px;
    margin: 0 auto;
    padding: 0px 20px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

/* HEADER
================ */
header{
    background-color: #4FA0EC;
    color: #fff;
    width: 100%;
}
header .logo-text{
    font-weight: 700;
    font-size: 18px;
    margin-left: 15px;
    text-align: center;
}
.header-img{
    height: 20px;
    display: block;
}
.header-logo{
    display: flex;
    align-items: center;
}
.header-inner{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-info{
    font-size: 16px;
    display: flex;
    font-weight: 500;
}
.header-info i{
    margin-right: 5px;
}
.header-item{
    margin-right: 50px;
}
.header-item:last-child{
    margin-right: 0;
}

/* NAV
============== */
.nav{
    background-color: #3f7eb9;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav-link{
    display: flex;
    justify-content: center;
    width: 20%;
    color: #fff;
    text-align: center;
    padding: 15px 0px;
    align-items: center;
    transition: all 0.1s linear;
}
.nav-link:hover{
    color: #fff;
    background-color: #3b73a8;
}
.nav-img{
    display: none;
}
/* INFO
================ */
.info{
    padding: 80px 0px;
    width: 100%;
    background-image: url(./img/bg-test.jpg);
    background-position: center;
    background-size: cover;
}
.info-inner{
    display: flex;
    justify-content: space-between;
}
.info-column{
    width: 50%;
    margin-right: 2em;
}
.info-title{
    font-size: 60px;
    line-height: 1.1;
    color: #0D2D4A;
    margin-bottom: 0.7em;
}
.info-list{
    list-style-type: none;
    margin: 0;
}
.info-list-item{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 0.7em;
    color: rgb(66, 66, 66);
}
.info-column.right{
    text-align: right;
    margin-right: 0;
}

/* purposes
================ */
.purposes{
    width: 100%;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}
.block-title{
    margin: 0 auto;
    margin-bottom: 1.25em;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.block-title.dark-blue{
    color: #0D2D4A;
}
.purposes-list{
    list-style-type: none;
    margin-left: 0;
}
.purposes-list-item .fa-check{
    margin-left: 20px;
    color: rgb(11, 194, 11);
    margin-right: 5px;
}
.purposes-list-item{
    display: flex;
    font-size: 22px;
    margin-bottom: 1.35em;
    padding: 0.7em;
    background-color: #f0f0f0;
    justify-content: space-between;
    align-items: center;
}
.purposes-list-item i{
    margin-right: 15px;
}

/* estimation
============== */
.estimation{
    background-color: #4FA0EC;
    padding: 80px 0px;
}
.block-title.white{
    color: #fff;
    max-width: 70%;
}
.estimation-types{
    display: flex;
    width: 100%;
}
.estimation-item{
    width: 33%;
    overflow: hidden;
    background-color: #fff;
    margin-right: 50px;
    transition: transform 0.2s ease;
    padding: 20px;
}
.estimation-item:last-child{
    margin-right: 0;
}
.estimation-item:hover{
    transform: scale(1.05);
}
.estimation-img{
    width: 100%;
}
.estimation-card{
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

/* GUARANTEE
================ */
.guarantee{
    padding: 80px 0px;
    background-image: url(./img/agreement.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.guarantee-title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #0D2D4A;
    margin-bottom: 50px;
}
.guarantee-list-item{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 1em;
}

/* DOCUMENTS
================== */
.documents{
    width: 100%;
    padding: 80px 0px;
    background-color: #f0f0f0;
}
.documents-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.documents-list-item{
    margin-bottom: 1em;
    font-size: 20px;
}

/* PRICES
=============== */
.prices{
    padding: 80px 0px;
}
.prices-title{
    font-size: 40px;
    font-weight: 700;
    color: #0D2D4A;
    margin-bottom: 50px;
    text-align: center;
}
.prices-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #4FA0EC;
}
.prices-table th{
    width: 25%;
    background-color: #4FA0EC;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    border: none;
}
.prices-table th:nth-child(3n+3){
    width: 10%;
}
.prices-table th:last-child{
    width: 10%;
}
.prices-table td{
    text-align: center;
    padding: 15px 10px;
    border: 1px solid #4FA0EC;
    font-size: 14px;
}

/* MY DOCUMENTS
================ */

.my-documents{
    background-color: #f0f0f0;
    padding: 80px 0px;
}
.my-documents-inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.my-documents-title{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.my-documents-img{
    width: 50%;
    padding: 5% 8%;
}

/* CONTACTS
=================== */

.contacts{
    padding: 80px 0px;
    background-color: #4FA0EC;
    color: #fff;
}
.contacts-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.contacts-inner{
    display: flex;
    justify-content: space-between;
    border: 2px solid #fff;
    padding: 20px;
}
.contacts-info{
    width: 50%;
}
.contacts-item{
    position: relative;
    margin-bottom: 30px;
}
.contacts-item:last-child{
    margin-bottom: 0;
}
.contacts-subtitle{
    font-size: 28px;
    margin-bottom: 0.7em;
}
.contacts-text{
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 0.55em;
}
.contacts-text i{
    margin-right: 10px;
}
.contacts-map{
    width: 50%;
    overflow: hidden;
    margin-left: 20px;
}
.yandex-img{
    width: 100%;
}

/* GO UP
============== */
.go-up{
    position: fixed;
    height: 60px;
    width: 60px;
    background-color: rgb(102, 235, 142);
    bottom: 40px;
    right: 60px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #000;
    opacity: 0.5;
    transition: opacity 0.1s linear;
}
.go-up:hover{
    color: #000;
}
.go-up:hover{
    opacity: 1;
}

@media (max-width: 1077px){
    .header-info{
        width: 100%;
        justify-content: space-around;

    }
    .header-inner{
        justify-content: center;
    }
    .header-item{
        margin-top: 20px;
    }
}

@media (max-width: 904px){
    .my-documents-img{
        width: 70%;
    }
}

@media (max-width: 893px) {
    /* INFO
    ================== */
    .info-title{
        font-size: 45px;
    }

    /* ESTIMATION
    =============== */
    .estimation-item{
        margin-right: 0;
        margin-bottom: 30px;
        width: 50%;
    }
    .estimation-types{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:768px){

    /* ANCHORS
    ============== */
    #purposes,
    #documents_for_estim,
    #prices,
    #my_documents,
    #contacts {
        border-top: 45px solid transparent;
        margin-top: -45px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    /* BODY
    ============= */
    body.lock{
        overflow: hidden;
    }
    /* BLOCKS
    ============== */
    .info,.purposes,
    .estimation,.guarantee,
    .documents,.prices,
    .my-documents,.contacts{
        padding: 50px 0px;
    }
    /* HEADER
    ============= */

    .header-inner{
        display: none;
    }
    .nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .nav-logo{
        padding: 10px 10px 10px 0px;
    }
    .nav-img{
        display: block;
        height: 25px;
    }
    .nav-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-burger{
        display: block;
        height: 20px;
        width: 30px;
        position: relative;
    }
    .nav-burger::before,
    .nav-burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }
    .nav-burger span{
        background-color: #fff;
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        top: 9px;
        transition: all 0.3s ease;
    }
    .nav-burger::after{
        bottom: 0;
    }
    .nav-burger::before{
        top: 0;
    }
    .nav-menu{
        padding: 70px 0px 0px 0px;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3a73a8;
        overflow: auto;
        transition: all 0.3s ease;
    }
    .nav-link{
        display: block;
        text-align: left;
        font-size: 28px;
        padding: 20px 10px;
        width: 100%;
    }
    .nav.active{
        height: 100%;
    }
    .nav-burger.active{
        z-index: 5;
        position: fixed;
        top: 15px;
        right: 20px;
    }
    .nav-burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .nav-burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .nav-burger.active span{
        transform: scale(0);
    }
    .nav-menu.active{
        top: 0;
    }
    /* INFO
    ============ */
    .info{
        margin-top: 45px;
    }

    /* PURPOSES
    ================ */
    .purposes-list-item{
        font-size: 19px;
    }

    /* CONTACTS
    ================= */
    .contacts-inner{
        flex-direction: column;
    }
    .contacts-subtitle{
        font-size: 30px;
    }
    .contacts-info{
        width: 100%;
    }
    .contacts-text{
        font-size: 22px;
    }
    .contacts-map{
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        padding: 25px;
    }

     /* GO-UP
    ================ */
    .go-up{
        display: none;
    }
}

@media (max-width: 700px){
    /* INFO
    ============== */
    .info-title{
        font-size: 40px;
    }
    .info-list-item{
        font-size: 20px;
    }
    .info-list-item img{
        height: 25px;
    }
    /* PURPOSES
    =============== */
}

@media (max-width: 648px){
    /* HEADER
    ============= */
    .header-info{
        flex-direction: column;
    }
    .header-item{
        margin-right: 0;
        text-align: center;
    }
    /* PURPOSES 
    =============*/
    .purposes-list-item{

    }

}
@media (max-width: 600px){

    /* TITLES */
    .info-title,.block-title{
        font-size: 36px;
    }
    .info-list-item{
        font-size: 18px;
    }
    /* PRICES
    ================= */
    .prices-table th{
        font-size: 14px;
    }
    .prices-table td{
        font-size: 10px;
    }
    .estimation-item{
        width: 70%;
    }
    /* CONTACTS
    ============= */
    .contacts-text{
        font-size: 19px;
    }
}
@media (max-width: 500px){
    /* BLOCKS
    =============== */
    .info,.purposes,
    .estimation,.guarantee,
    .documents,.prices,
    .my-documents,.contacts{
        padding: 35px 0px;
    }
    /* BLOCK TITLE
    =================== */
    .info-title{
        font-size: 30px;
    }
    .block-title{
        font-size: 30px;
        margin-bottom: 1em;
    }
    /* GUARANTEE
    =============== */
    .guarantee-list-item{
        font-size: 19px;
    }
    /* MY DOCUMENTS
    ================ */
    .documents-list-item{
        font-size: 19px;
    }
}

@media (max-width: 460px){
    /* INFO
    ============= */
    .info-list-item{
        font-size: 15px;
    }
    .info-list-item img{
        height: 18px;
    }
    /* ESTIMATION
    =========== */
    .estimation-card{
        font-size: 19px;
    }
    /* CONTACTS
    ============== */
    .contacts-subtitle{
        font-size: 25px;
    }
}

@media (max-width: 430px){
    /* INFO 
    ============*/
    .info-title,.block-title{
        font-size: 25px;
    }
    /* ESTIMATION
    ================ */
    .estimation-title{
        font-size: 30px;
    }
    /* PRICES
    ============ */
    .prices-table th{
        width: auto;
        font-size: 10px;
    }
    .prices-table td{
        font-size: 8px;
    }   
}

@media (max-width: 410px){
    .info,.purposes,
    .estimation,.guarantee,
    .documents,.prices,
    .my-documents,.contacts{
        padding: 25px 0px;
    }
    /* INFO
    ============== */
    .info-list-item{
        font-size: 13px;
    }
}
@media (max-width: 372px){

    /* TITLES
    ============ */
    .info-title,.block-title{
        font-size: 23px;
    }
    .info-list-item{
        font-size: 11px;
    }
    
    /* PURPOSES
    =========== */
    .purposes-list-item{
        font-size: 16px;
    }
    /* PRICES
    ================ */
    .prices-table th{
        width: auto;
        font-size: 8px;
    }

    .prices-table td{
        font-size: 6px;
    } 
    /* CONTACTS
    ================ */
    .contacts-subtitle{
        font-size: 20px;
    }
    .contacts-text{
        font-size: 15px;
    }
}
@media (max-width: 340px){
    /* TITLES
    ============ */
    .info-title,.block-title{
        font-size: 20px;
    }
}